<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>User Authentication</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/styles/home.css">
    </head>
    <body>
        <h1>Hello {{data.user}}</h1>
        <h1>You are connected to session: {{data.session}}</h1>
        <button class="spotify-btn">Spotify</button>
        <button class="user-leave-btn">Leave Session</button>
        
        
        <script src="../static/scripts/greeting-user.js" async defer></script>
    </body>
</html>